
body {
background-image: url(imagenes/white\ background\ paws.png);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  cursor: url('imagenes/pet-paw-solo.png'), default;
}



header {
  background-color: #404155;
  padding: 20px;
  text-align: center;
  color: white;
}

h1 {
  margin: 0;
  font-size: 40px;
  font-weight: normal;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}


.box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.box h2 {
  margin: 0;
  padding: 20px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.icon i {
  font-size: 60px;
  color: #3f51b5;
}

.decide-section {
  text-align: center;
  padding: 50px;
  background-color: #F2F2F2;
}

.decide-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
  background-color: #F54952;
  padding: 10px 20px;
  border-radius: 5px;
}

.decide-section p {
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
}

.courses-section {
  text-align: center;
  padding: 50px;
  background-color: #F2F2F2;
}

.courses-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
}

.courses-section p {
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
}

.courses-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.course {
  width: 300px;
  margin: 50px;
  text-align: left;
  transition: transform 0.3s;
  
}
.course:hover {
  transform: scale(1.1);
}

.course img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 25px;
  transform: scale(1.1);
}

.course h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.course p {
  font-size: 18px;
  color: #333;
  line-height: 1.5;
}
.clickable-div {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.icon i {
  font-size: 36px;
  color: #F54952;
  margin-bottom: 20px;
}