
        
        .button {
          padding: 10px 20px;
          background-color: #F54952;
          color: white;
          border-radius: 5px;
          text-decoration: none;
        }
      
        .button:hover {
          background-color: #F54952;
          cursor: pointer;
        }
     
        .container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }
        .box {
          width: 300px;
          height: 300px;
          text-align: center;
          line-height: 300px;
          font-size: 30px;
          color: #fff;
          margin: 20px;
          transition: all 0.3s ease;
          cursor: pointer;
        }
        .box:hover {
          transform: scale(1.1);
        }
        .box1 {
          background-color: #F54952;
          border-radius: 5px;
        }
        .box2 {
          background-color: #F54952;
          border-radius: 5px;
        }
        .box3 {
          background-color: #F54952;
          border-radius: 5px;
        }
     